*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    margin: 7rem;
}
form{
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background: linear-gradient(#bd09b7, #6b4cf5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    border-radius: 1rem;
}
input{
    padding: 5px 15px;
    text-align: right;
    width: 100%;

    
}
select{
    width: 100%;
   
    margin: 0 auto;
}
.submit{
    padding: 5px 15px;
    width: 50%;
    margin-left: 4.5rem;
    text-align: center;

}
p{
    text-align: center;
}
@media only screen and (max-width: 500px) {
 form{
    width: 100%;
 }
 .submit{
    padding: 5px 15px;
    width: 50%;
    margin-left: 7rem;
    text-align: center;

}
}
@media only screen and (min-width: 600px) {
    form{
        width: 300px;
    }
}